@using Scarpe_Co.Models;
@model ProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<div class="container text-center"> 
<h2>Vendi il tuo Prodotto</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prezzo" class="control-label"></label>
        <input asp-for="Prezzo" class="form-control" />
        <span asp-validation-for="Prezzo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descrizione" class="control-label"></label>
        <textarea asp-for="Descrizione" class="form-control"></textarea>
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Immagine" class="control-label"></label>
        <input asp-for="Immagine" type="file" class="form-control" />
        <span asp-validation-for="Immagine" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Immagine1" class="control-label"></label>
        <input asp-for="Immagine1" type="file" class="form-control" />
        <span asp-validation-for="Immagine1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Immagine2" class="control-label"></label>
        <input asp-for="Immagine2" type="file" class="form-control" />
        <span asp-validation-for="Immagine2" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Crea</button>
        <a asp-action="Index" class="btn btn-secondary mt-3">Annulla</a>
</form>
</div>