html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner { 
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {  
    backface-visibility: hidden;
}

.card-front {   
    transform: rotateY(0deg);
}

.card-back { 
    transform: rotateY(180deg);
}

.img-cover {
    height: 200px; 
    object-fit: cover; 
}
      