html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner { 
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {  
    backface-visibility: hidden;
}

.card-front {   
    transform: rotateY(0deg);
}

.card-back { 
    transform: rotateY(180deg);
}

.img-cover {
    height: 200px; 
    object-fit: cover; 
}

.bgdark {
    background-color: #010C0E;
}

.cardDetails {
    height: 300px;
    width: 1000px;
    border-radius: 1em;
}

.palette {
    display: flex;
    height: 86%;
    width: 100%;
}

.color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
}

    .color span {
        opacity: 0;
        transition: opacity 0.1s linear;
    }

   

    .color:hover {
        flex: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

        .color:hover span {
            opacity: 1;
        }

.content-wrap {
    flex: 1;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.slide-down {
    animation: slideDown 0.8s ease-out forwards;
}